@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "cambria",sans-serif;
    background: white;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: white;
    position: fixed;
    z-index: 999;
    border-bottom: 3px solid #164e63;
}
nav a img{
    width: 50px;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}
header ul li a{
    text-decoration: none;
    color: #164e63;
    text-transform: uppercase;
    font-weight: 900;
}

header ul li a:hover{
    color: #81A588;
    transition: 1s;
}

main {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

section{
    margin-bottom: 1rem;
    height: 90vh;
}

.section_homepage{

    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    grid-template-rows: repeat(4, 1fr) auto;
    gap: 1rem;
}

.section_homepage h1:first-of-type{
    grid-column: 2/4;
    grid-row: 1/2;
    color: #164e63;
    font-family: 'Fira Code', cursive;
    z-index: 2;
    background: white;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
    border: 1px solid black;
    box-shadow: 10px 10px white;
    margin-top: 1rem;

}

.section_homepage  h1:last-of-type{
    grid-column: 1/2;
    grid-row: 5/-1;
    z-index: 1;
    color: #164e63;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    background: white;
    border-top-right-radius: 1rem;
    box-shadow: 2px 3px 1px white; ;
}

.section_homepage img{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
    z-index: 0;
}


.section_homepage  h2{
    grid-column: 3/5;
    grid-row: 3/5;
    z-index: 2;
    padding-top: 1rem;
    color: white;
    font-size: 3rem;
    text-align: right;
}

.section_homepage  h2 span{
    color: gold;
}

.section_homepage  h2 span:last-of-type{
    color: gold;
    border-bottom: .2rem solid gold;
}


.image_scroll_pointer{
    position: absolute;
    color: white;
    bottom: 1rem;
    right: 3rem;
    width: 5rem;
}

.section_introduction{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.section_introduction img{
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 85vh;
    transition: .3s;
}

.section_introduction img:hover{
    box-shadow: 6px 5px 2px #164e63;
}

.section_introduction img:active{
    box-shadow: none;
    border: 1px solid black;
}

.section_introduction p:first-of-type{
    grid-column: 2/3;
    grid-row: 1/1;
    border: 1px solid black;
    box-shadow: 6px 5px 2px #164e63;
    padding: 1rem;
    line-height: 1.5rem;
}

.section_introduction p:last-of-type{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid black;
    box-shadow: 6px 5px 2px #164e63;
    padding: 1rem;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}



.section_studies{
    background: #164e63;
    padding: 5rem;
    position: relative;
}

.section_studies table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background:  #eaf6fa;
}

.section_studies table caption{
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.section_studies table th, td{
    width: calc(10%/3);
    height: 7rem;
    text-align: center;
    border: 3px solid #164e63 ;
}

.section_studies table th{
    color: white;
    background:  #2995bc;
    font-size: 1.2rem;
    border-bottom: 3px solid #164e63;
}

.section_studies table tr:nth-child(even){
    background:  #d5edf6;
}

.section_studies img:first-of-type{
    width: 4rem;
    position: absolute;
    left: 28rem;
    top: 3.8rem;
}

.section_studies img:last-of-type{
    width: 4rem;
    position: absolute;
    right: 28rem;
    top: 3.8rem;
}







