@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Calibri",sans-serif;
    background: white;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: white;
    position: fixed;
    z-index: 999;
    border-bottom: 3px solid #164e63;
}
nav a img{
    width: 60px;
}

header ul{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .5rem;
}
header ul li a{
    color: #164e63;
    padding: .5rem;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: .8s;
}

header ul li a:hover{
    color: white;
    transition: 1s;
    background: #164e63;
}

main {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

section{
    margin-bottom: 1rem;
    height: 90vh;
}

.section_homepage{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat( 4, 1fr) auto;
    gap: 1rem;
}

.section_homepage  h1{
    grid-column: 1/2;
    grid-row: 5/-1;
    background: white;
    z-index: 1;
    color: #164e63;
    padding: .5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    border-top-right-radius: 1.5rem;
}

.section_homepage img{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.section_homepage  h2{
    grid-column: 3/-1;
    grid-row: 2/3;
    z-index: 2;
    color: white;
    text-align: left;
    font-size: 5rem;
    font-weight: bold;
    justify-self: center;
    align-self: end;
    padding-left: 3rem;
    border-left: 3px solid gold;
}

.section_homepage  h2 span{
    color: gold;
}

.section_homepage  h2 span:last-of-type{
    color: gold;
}

.section_homepage img:last-of-type{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 80%;
    padding-left: 2rem;
    border-radius: 50%;
    align-self: end;
}

.section_introduction{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.section_introduction img{
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 60vh;
    transition: .3s;
    justify-self: center;
    align-self: center;
    border-radius: 40%;
}

.section_introduction img:hover{
    box-shadow: -2px 3px 5px 1px #164e63;
}

.section_introduction img:active{
    box-shadow: none;
    border: 1px solid black;
}

.section_introduction p{
    grid-column: 2/-1;
    grid-row: 1/1;
    padding: .5rem;
    font-size: 1rem;
    align-self: center;
    line-height: 1.5rem;
    color: #164e63;
}

.section_introduction table{
    grid-column: 2/-1;
    grid-row: 2/-1;
    background:  #164e63;
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 3px solid #164e63;
}

.section_introduction table th{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    color: white;
    width: calc(70vw/3);
    font-weight: bold;
}

.section_introduction table td{
    height: 2rem;
    text-align: center;
    background:  white;
    color: #164e63;
    border-right: 3px solid #164e63;
    font-size: 2rem;
}

.section_introduction table tbody tr:nth-of-type(odd){
    background: #164e63;
}



.section_skills{
    background: #164e63;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.section_skills h2{
    text-align: center;
    font-size:  2rem;
    color: white;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.section_skills ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.section_skills ul li{
    width: 25rem;
    list-style: none;
    font-size: 2.5rem;
    text-align: center;
    background: white;
    margin: 0 auto;
    padding: 1rem;
    color: #164e63;
    border-radius: 2rem;
}

.section_skills ul:nth-of-type(2) li{
    width: 25rem;
}

.section_skills ul:first-of-type li img{
    height: 4rem;
}

.section_skills ul:first-of-type{
    grid-column: 1/2;
    grid-row: 2/3;

}

.section_skills ul:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 2/3;

}

.section_skills ul:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 2/3;
}




.section_experience {
    margin-bottom: 2rem;
}

.section_experience h2{
    color: #164e63;
    font-size: 5rem ;
    background: white;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.section_experience_grid_container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 40vh;
}

.section_experience_grid_container ul{
    padding: 1rem;
    font-size: 1rem;
    height: 24vh;
    margin: 1rem;
    background: white;
    color: #164e63;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

.section_experience_grid_container ul:nth-of-type(even){
    background: #164e63;
    color: white;
}

.section_experience_grid_container ul li{
    list-style: none;
    padding: .5rem;
}

.section_experience_grid_container ul li:first-of-type{
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 2.5rem;
    width: 100%;
    border-bottom: 1px solid #164e63;
}

.section_experience_grid_container ul:nth-of-type(even) li:first-of-type{
    border-bottom: 1px solid white;
}

.section_experience_grid_container ul li:last-of-type{
    grid-column: 1/-1;
}

footer{
    background: #164e63;
    color: white;
    padding: 1rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    font-size: 1.5rem;
}
footer a{
    color: white;
    text-decoration: none;
}









