@media (max-width: 1300px) {
    header ul{
        font-size: 1.5rem;
    }

    .section_homepage h2{
        font-size: 2.5rem;
    }

    .section_homepage img{
        height: 100%;
    }

    .section_introduction img{
        width: 100%;
    }

    .section_introduction p{
        line-height: 1rem;
        font-size: .8rem;
    }

    .section_studies table{
        height: 40vh;
    }

    .section_skills h2{
        font-size: 1.5rem;
    }

    .section_skills ul li{
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .section_homepage h1{
        font-size: 1rem;
    }

    .section_homepage h2{
        font-size: 2.5rem;
        grid-column: 2/-1;
        grid-row: 2/4;
    }

    .section_homepage img:last-of-type{
        grid-column: 1/4;
        grid-row: 1/4;
        padding: 2rem;
        width: fit-content;
    }

    .section_studies table{
        height: 30vh;
    }

    .section_studies table caption{
        font-size: 1.5rem;
    }

    .section_studies table th{
        font-size: 1.2rem;
    }

    .section_studies table td{
        font-size: 1rem;
    }

    .section_skills ul h2{
        font-size: 1rem;
    }

    .section_skills ul h2 span img {
        height: 2vh;
    }

    .section_experience_grid_container ul li{
        font-size: .7rem;
    }

    .section_experience_grid_container ul li:first-of-type{
        font-size: 1.2rem;
    }

    footer{
        font-size: .7rem;
    }
}


@media (max-width: 700px) {
    header ul{
        font-size: 1.2rem;
        gap: .7rem;
    }

    .section_homepage img:last-of-type{
        height: 45vh;
        grid-column: 1/-1;
        grid-row: 2/4;
        place-self: center;
        padding: 0;
    }

    .section_homepage h2{
        grid-column: 1/-1;
        grid-row: 4/4;
        font-size: 2rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .section_experience_grid_container ul li:first-of-type{
        font-size: 1rem;
    }

    footer{
        font-size: .8rem;
    }
}




@media (max-width: 500px) {
    header ul{
        display: none;
    }

    .dropdown{
        display: flex;
    }

    .section_homepage h1{
        grid-column: 1/-1;
        border-radius: 0;
    }

    .section_homepage h2{
        grid-column: 1/-1;
        border-left: 0;
        width: 100%;
        text-align: center;
    }

    .dropdown .dropbtn img{
        display: block;
    }


    .section_introduction a{
        place-content: center;
    }

    .section_introduction a img{
        height: 20vh;
        place-self: center;
    }

    .section_introduction p{
        padding: .5rem;
        padding-right: 1rem;;
    }



    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90vh 35vh 180vh ;
    }


    .div_container_scroll{
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 50vh 80vh;
    }
    .section_skills {
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    .section_skills ul{
        width: 30%;
    }

    .section_skills ul li{
        font-size: .8rem;
    }
    .section_skills ul h2{
        width: 100%;
        font-size: .8rem;
    }


    .section_experience h2 {
        grid-column: 1/-1;
        color: white;
        place-self: center;
        height: 10%;
    }

    .section_experience_grid_container{
        width: 90vw;
        height: 90%;
        padding: 1vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1vh;
    }


}